.hero {

  height: 400px;
  margin: 0 auto;
  margin-bottom: 60px;

background-color: $hero_footer-background;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:   linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  background-image: 
 url(/img/mobile-image/hero_mobile.jpg);


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: url(/img/mobile-image/hero@2x_mobile.jpg),
  url(/img/tablet-image/hero@2x_tablet.jpg),
  url(/img/desktop-image/hero@2x.jpg);
}
@media screen and (min-width: $mobile-adapt) {
width: 480px;
}
@media screen and (min-width: $tablet-adapt) {
  width: 768px;

  background-image: url(/img/tablet-image/hero_tablet.jpg)
}

@media screen and  (min-width: $desktop-adapt)  {
  width: 1200px;
height: 680px;
  margin-bottom: 94px;
 background-image: url(/img/desktop-image/hero.jpg) ;
}


}
.hero__title {
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  // @media screen and  (min-width: $mobile-adapt) {
      line-height: calc(42 / 26);
  font-size: 26px;

  margin-bottom: 30px;
    
  // } 
  @media screen and  (min-width: $desktop-adapt) {
    font-size: 44px;
  } 
  // line-height: calc(60 / 44);
  // font-size: 44px;

  // margin-bottom: 30px;

}
.hero--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  background-color: $blue-button;
  color: $white-color;

@media screen and (min-width: $mobile-adapt) {
  width: 200px
}
@media screen and (min-width: $desktop-adapt) {
  width: 216px;
}

  height: 50px;
    line-height: calc(30 / 16);
      font-size: 16px;
  border-radius: 4px;

  font-weight: 700;

  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
